:root{
    --background: #F3F3F3;
   --background_Two: #FFFFFFC9;
   --background_Three: #898989C9;
   --background_Four: #1F628E8C;
   --background_Five: #2C87C3;
   --background-Six: #EB9358;
   --background-Seven: #CF7232D4;
//    --background-Eight: #EB9358;

}