// The Box Orange
#Parent-Box-Orange{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
//  The Link Box Oragne
    a{
text-decoration: none;
    }
    img{
        // border: 1px solid black;
        transform: scale(1);
        transition: 1s;

        
    }
    &:hover img{
        transform: scale(1.1);
    }
}
// .Box-Orange{
//     width: 177px;
//     height: 168px;
//     background-color: var(--background-Six);
//     border-radius: 15px;
// }